{% extends 'offre.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}


    
    {% for messageContact in app.flashes('notice') %}
    <div class="alert alert-success alert-dismissible fade show w-50 mx-auto" role="alert">
            {{ messageContact }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}

    {% for messageErrorContact in app.flashes('error') %}
    <div class="alert alert-warning alert-dismissible fade show w-50 mx-auto" role="alert">
            {{ messageErrorContact }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}

    {{ form_start(contactform, {'attr': {'class': 'w-50 mt-5 align-self-center'}}) }}
        {{ form_row(contactform.description) }}
        {{ form_row(contactform.captcha) }}
        <button type="submit" class="btn btn-primary mt-1">Reclammation</button>
    {{ form_end(contactform) }}


{% endblock %}
